# Telegram bot token to recieve / publish messages
TELEGRAM_TOKEN=1234567890:abcdef123456abcdef123456abcdef12345
# Mongo DB connection string
MONGO_CONN_STRING=mongodb://user:password@host:port/db
# Docker prefix for publishing image
DOCKER_PREFIX=cr.yandex/abcdef123456abcdef12
# Mapbox API key
NEXT_PUBLIC_MAPBOX_API_KEY=pk.abcd1234efgh5678abcd1234efgh5678abcd1234efgh5678abcd1234efgh567.abcd1234efgh5678abcd12
# Server base url (e.g. http://my-website.com/sub)
SERVER_BASE_URL=http://localhost:3000
