# Telegram bot token to recieve / publish messages
TELEGRAM_TOKEN=1234567890:abcdef123456abcdef123456abcdef12345
# Mongo DB connection string
MONGO_CONN_STRING=mongodb://user:password@host:port/db
# Docker prefix for publishing image
DOCKER_PREFIX=cr.yandex/abcdef123456abcdef12
